
<article>
  <h1><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a></h1>
  {% if page.subtitle %}
  <h2>{{page.subtitle}}</h2>
  {% endif %}
  <header>
    {% if page.author %}
    <cite><a href="{{ BASE_PATH }}/authors.html#{{ page.author }}-ref">{{ page.author }}</a></cite>
    {% endif %}
    <time>{{ page.date | date_to_long_string }}</time>
    {% unless page.categories == empty %}
    <span class="categories">
    {% assign cats = page.categories %}
      {% if cats.first[0] == null %}
        {% for cat in cats %}
      <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ cat }}-ref">{{ cat }}</a>
        {% endfor %}
      {% else %}
        {% for cat in cats %}
      <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ cat[0] }}-ref">{{ cat[0] }}</a>
        {% endfor %}
      {% endif %}
    </span>
    {% endunless %}
  </header>

  <div class="content">
    {{ content }}
  </div>

  <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="18213596"></div>

  {% unless page.tags == empty %}
  <section class="tags">
{% comment %}
<!--
  Note:
    Tags can be either a Hash of tag objects (hashes) or an Array of tag-names (strings).
    The encapsulating 'if' statement checks whether tags_list is a Hash or Array.
    site.tags is a Hash while page.tags is an array.
-->
{% endcomment %}

    {% assign tags_list = page.tags %}

    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
    <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %}
    <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a>
      {% endfor %}
    {% endif %}

  </section>
  {% endunless %}

</article>
